@model IEnumerable<Property>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Īpašumi</h2>
        </div>
        <div class="col-6 text-end
">
            <a asp-controller="Property" asp-action="Create"  class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Pievienot īpašumu
            </a>
        </div>
    </div>
    <br/> <br/>


    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Nosaukums
            </th>
            <th>
                Kadastra numurs
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                    @Html.HiddenFor(p => obj.Owner.Id)
                <td width="30%">
                    @obj.Title
                </td>
                <td width="30%">
                    @obj.PropertyNumber
                </td>
                <td width="30%">
                    @Html.DisplayFor(p => obj.PropertyStatus)
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-contoller="Property" asp-action="" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Labot</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-contoller="Property" asp-action="" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Skatīt</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

