@model OwnerPropertyViewModel
@{
    ViewData["Title"] = "Īpašumi";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> @Model.OwnerName īpašumi</h2>
        </div>
        <div class="col-6 text-end">
            <a href="@Url.Action("Create", "Property", new {id = Model.OwnerId})"  class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Pievienot īpašumu
            </a>
        </div>
    </div>
    <br/> <br/>


    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Nosaukums
            </th>
            <th class="text-center">
                Kadastra numurs
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Properties)
        {
            <tr>
                @Html.HiddenFor(p => obj.Owner.Id)
                <td width="15%">
                    @obj.Title
                </td>
                <td width="25%" class="text-center">
                    @obj.PropertyNumber
                </td>
                <td width="30%">
                    @Html.DisplayFor(p => obj.PropertyStatus)
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-contoller="Property" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-secondary mx-2"><i class="bi bi-pencil-square"></i>Labot</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-contoller="Property" asp-action="Redirect" asp-route-id="@obj.Id"
                           class="btn btn-info mx-2"><i class="bi bi-eye"></i>Skatīt</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row pt-4">
        <div class="col-6 text-end">
            <a href="@Url.Action("Index", "Owner")"  class="btn btn-success">
                Atgriezties
            </a>
        </div>
        <div class="col-6"></div>
    </div>
</div>

