@model UnitViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Īpašuma @Model.PropertyName zemes vienības</h2>
        </div>
        <div class="col-6 text-end">
            <a href="@Url.Action("Create", "Unit", new {id = Model.PropertyId})"  class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Pievienot zemes vienību
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Kadastra apzīmējums
            </th>
            <th>
                Kopplatība
            </th>
            <th>
                Uzmērīšanas datums
            </th>
            <th>
                Lauksaimniecībā izmantojamā zeme
            </th>
            <th>
                Meža zeme
            </th>
            <th>
                Purvs
            </th>
            <th>
                Ūdens objektu zeme
            </th>
            <th>
                Zeme zem ēkām un pagalmiem
            </th>
            <th>
                Zeme zem ceļiem
            </th>
            <th>
                Pārējā zeme
            </th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.UnitList)
        {
            <tr>
                <td width="10%">
                    @obj.UnitNumber
                </td>
                <td width="10%">
                    @obj.Area
                </td>
                <td width="10%">
                    @obj.SurveyDate
                </td>
                <td width="10%">
                    @obj.LArea
                </td>
                <td width="10%">
                    @obj.MArea
                </td>
                <td width="10%">
                    @obj.PArea
                </td>
                <td width="10%">
                    @obj.UArea
                </td>
                <td width="10%">
                    @obj.EkPaArea
                </td>
                <td width="10%">
                    @obj.CeluArea
                </td>
                <td width="10%">
                    @obj.ParejaArea
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-contoller="Property" asp-action="Edit" asp-route-id="@obj.UnitId"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Labot</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row pt-4">
        <div class="col-6 text-end">
            <a href="@Url.Action("Index", "Property", new {id = Model.OwnerId})"  class="btn btn-primary">
                Atgriezties
            </a>
        </div>
        <div class="col-6"></div>
    </div>
</div>